DATABASE_URL=http://localhost:3306/football-pitch-management
DATABASE_USER=root
DATABASE_PASSWORD=03062006
DATABASE_NAME=football-pitch-management
DATABASE_HOST=localhost
DATABASE_PORT=3306


JWT_SECRET =adumamayngauvocolo

CLOUD_NAME =
CLOUD_API_KEY =
CLOUD_API_SECRET =
NODE_ENV=dev
